h1 {
    font-family: 'Lato', sans-serif;
}

/* Apply flex display to .container-loan-cards-list-cards and wrap the content */
.container-loan-cards-list-cards {
    display: flex;
    flex-wrap: wrap;
}