/* allign heading to center */
.heading {
    text-align: center;
}

/* Set background image to the page */
body {
    /* background: url(https://i.pinimg.com/originals/07/05/31/07053134fec1b048765c844e332f7139.jpg) no-repeat center center fixed; */
    /* background: url(https://wallpaperaccess.com/full/1330295.jpg) no-repeat center center fixed; */
    /* background: url(https://3.bp.blogspot.com/-PRZVW7mx1pE/UFqc5QLbkAI/AAAAAAAALxM/TO6lfqZV-1g/s1600/indian_air_force_salute_formation.jpg) no-repeat center center fixed; */
    /* background: url(https://www.wallpaperflare.com/static/226/32/56/abstract-minimalism-black-white-wallpaper.jpg) no-repeat center center fixed; */
    background: url(https://i.pinimg.com/originals/cc/ae/eb/ccaeeb82ce4e186e8e814d176b4c276b.jpg) no-repeat center center fixed;
    /* background: url(../../images/background.jpeg    ) no-repeat center center fixed; */
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set container position to the center of the page */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Translucent background to the card */
.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Translucent background to the email and password inputs */
input[type=text], input[type=password] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}