/* allign heading to center */
.heading {
    text-align: center;
}

/* Set background image to the page */
body {
    background: url(../../images/background.jpeg    ) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Set container position to the center of the page */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Translucent background to the card */
.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Translucent background to the email and password inputs */
.login-container input[type=text], input[type=password] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.login-container button[type="submit"] {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}