svg {
    cursor: pointer;
}

td.btn-delete-inventory-item svg:hover, .btn-delete svg:hover, .btn-return svg:hover {
    color: red;
}

.btn-edit svg:hover {
    color: blue;
}

td.btn-issue-inventory-item svg:hover, .loan-card .btn-view svg:hover {
    color: green;
}